<div id="comments">
    <p align="center">评论区 · 欢迎大家友好交流 · 若未正常显示请刷新网页</p>
    <script src="https://utteranc.es/client.js"
            repo="<%=theme.utteranc.repo%>"
            issue-term="<%=theme.utteranc.issue_term%>"
            theme="<%=theme.utteranc.theme%>"
            label="<%=theme.utteranc.label%>"
            crossorigin="anonymous"
            async>
    </script>
</div>
